counts_context_dep.txt
counts_words.txt
data/deps.contexts
data/bow5.words
data/wikipedia.sample.trees.lemmatizedsmall
data/deps.words
data/bow5.contexts
top20.txt
data/wikipedia.sample.trees.lemmatized
2021-22 NLP Assignment dist sem.pdf
